.button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.default {
  color: white;
  background-color: blue;
}

.default:hover {
  background-color: darkblue;
}

.outlined {
  color: blue;
  background-color: white;
  border: 2px solid blue;
}

.outlined:hover {
  background-color: blue;
  color: white;
}

.link {
  color: blue;
  background-color: white;
}

.link:hover {
  text-decoration: underline;
}
