.container {
  margin-top: 90px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 170px; */
}

.image {
 position: absolute;
 z-index: 1;
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 1rem;
  border-radius: 15px;
}

.image img{
  border-radius: 15px;
}

.name {
  z-index: 2;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.brand {
  z-index: 2;
  font-size: 36px;
  opacity: 0.9;
  margin: 0;
  color: #ffffff;
  margin-bottom: 20px;
}

.badge {
  z-index: 2;
  background-color: red;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}
